# Dataframe from file

Python support loading data from multiple file formats, including excel, csv, jason, xml

In [11]:
import pandas as pd

In [12]:

students = pd.read_csv("..\\Data\\students.csv", header=0)
students.head(1)

  class                             email  name
0  AI23  adam@gmail.com, adam@hotmail.com  adam

In [13]:
autos = pd.read_json("..\\Data\\autos.json")

In [14]:
pop_stats = pd.read_excel("..\\Data\\scb_pop.xlsx")

In [15]:
autos.head(10)
autos.tail()
autos.sample(5)
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,mpfi,gas,55.5,23,134.0,188.8,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,idi,diesel,55.5,27,106.0,188.8,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,mpfi,gas,55.5,25,114.0,188.8,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [16]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)

In [17]:
rows, columns = autos.shape
print(f"Dataframe har {rows} rows and {columns} columns.")

Dataframe har 205 rows and 26 columns.

In [18]:
rows = len(autos)
columns = len(autos.columns)
print(f"Dataframe har {rows} rows and {columns} columns.")

Dataframe har 205 rows and 26 columns.

In [19]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

## Convert common formats

In [20]:
# Copy datafram to clipboard, then use ctrl + v 
autos.to_clipboard()