# Loc, iloc and []
Pandas supports three types of multi-axis indexing for object selection. Is mostly used for uppdate, add and delete.

-**loc** is a methos for label based indexing

-**iloc** is a method for integer position based indexing

-[columnname] returns the column as a pandas Series object.

**Important note:** When slicing, the upper bound is *included* for loc, while *excluded* for iloc.

In [1]:
import pandas as pd

In [2]:
colummn_values = [f"Column{i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1, 5)] for ind in index_values],
                  index=index_values, columns=colummn_values)

df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [3]:
# Using no slices, returns the value of single cell
df.iloc[1, 0] # Works with negative index

# Using slice one one axis returns a pandas Series object
df.iloc[1, :] # Full row 1 ("B")
df.iloc[:, 0] # Full column 0 ("Column1")
df.iloc[:3, 1] # Only 3 first rows, column 1 ("Column2") 

# Using slice on both axis returns a pandas DataFrame object
df.iloc[:2,:2] # return the four cells in the upper left corner
df.iloc[2:6, 1:3] # returns col2 and 3, and rows c-f
df.iloc[:] # returns a copy of DataFrame

# List can be used of slices for either axis
df.iloc[[0, 3, 5], [1, 3]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [4]:
# Using no slices, returns the value of single cell
df.loc["B", "Column1"]


# Using slice one one axis returns a pandas Series object
df.loc["B", :] # Full row 1 ("B")
df.loc[:, "Column1"] # Full column 0 ("Column1")
df.loc[:"C", "Column2"] # Only 3 first rows, column 1 ("Column2"), stop value is uncluded in loc 

# Using slice on both axis returns a pandas DataFrame object
df.loc[:"C",:"Column3"]

# Using slice on both axis returns a pandas DataFrame object
df.loc[:"B",:"Column2"] # return the four cells in the upper left corner
df.loc["C":"F", "Column2":"Column3"] # returns col2 and 3, and rows c-f
df.loc[:, :] # returns a copy of DataFrame


# List can be used of slices for either axis
df.loc[["A", "D", "F"], ["Column2", "Column4"]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [5]:
# df[colname] returns a column as a pandas Series object
df["Column2"]

# df[[list of colnames]] returns a new dataframe with the given columns
df[["Column1", "Column4", "Column3", "Column1"]]

# Series[index] returns a scalar value
df["Column2"]["D"]

# Indexing a dataframe with a list (of columns) returns a dataframe,
# so indexing again would be on the new dataframe (Dont do this!).
#df[["Column1", "Column4", "Column3", "Column1"]]["Column3"]

'D2'