In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

### Missing data 
Missing data occurs when values are simply abscent or contain NaN (not a number) for any feature (column) in a given dataset. This will cause issues with many machine learning algorithms.

**Missing data can negativly impact impact:**
- Data visualization
- Arithemetic computations
- Machine learning algorithms

**Common methods to deal with missing data:**
- Remove rows or columns containg missing data
- Impute with mean or median
- Impute with mode (most frequently occuring feature)
- Impute with forward or backward fill
- Interpolate data between two points 

*Note: Domain knowledge is often needen to decide how to fill nulls.*

In [4]:
df = pd.DataFrame(np.random.randn(10, 4), columns = ["A", "B", "C", "D"])
df = df[df > 0]
df

          A         B         C         D
0       NaN  0.061069  1.077101  1.117284
1  0.284772  0.437519  0.008521  1.283297
2  1.423205  0.221818       NaN  0.682380
3       NaN       NaN  1.028578       NaN
4  0.821114  0.147230  0.498103  1.245477
5       NaN       NaN       NaN  0.073591
6  0.545933       NaN  0.537242  1.006039
7  1.853820  0.610482  1.517077  2.395220
8       NaN       NaN       NaN       NaN
9       NaN  0.646893       NaN       NaN

In [9]:
copy = df.copy()
copy.drop(columns="D", inplace=True)
copy

          A         B         C
0       NaN  0.061069  1.077101
1  0.284772  0.437519  0.008521
2  1.423205  0.221818       NaN
3       NaN       NaN  1.028578
4  0.821114  0.147230  0.498103
5       NaN       NaN       NaN
6  0.545933       NaN  0.537242
7  1.853820  0.610482  1.517077
8       NaN       NaN       NaN
9       NaN  0.646893       NaN

### dropna
Remove rows (default) or columns, containing null.

**Parameters:**
- **how** = "any" (default) or "all"
- **thresh** = set number of NaN values a row must contain in order to *not* drop
- **subset** = Only look for NaN in subset of columns or rows
- **axis** = "index" (default) or "columns"

In [23]:
#copy.isna()
#copy.dropna() drops all rown containg NaN
#copy.dropna(how="all") drops only if all is NaN
#copy.dropna(thresh=2) choose number of NaNs 
#copy.dropna(subset=["A", "C"]) Choose columns to drop NaN in. Single or list
copy.dropna(axis="columns", subset=2)

          A         B
0       NaN  0.061069
1  0.284772  0.437519
2  1.423205  0.221818
3       NaN       NaN
4  0.821114  0.147230
5       NaN       NaN
6  0.545933       NaN
7  1.853820  0.610482
8       NaN       NaN
9       NaN  0.646893