# Exercises: Filter and query data

In [1]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

Answer
   count=3    price=36000.0

In [74]:
autos.head(3)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5

In [75]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [39]:
jaguars = autos.query("make == 'jaguar'")
number_of_jaguars = len(jaguars)
max_price_jaguar = jaguars['price'].max()
most_expensive_jaguar = autos.query("make == 'jaguar'").sort_values('price', ascending=False).head(1)['price']
print(f"Answer count= {number_of_jaguars} Price = {max_price_jaguar}")

Answer count= 3 Price = 36000.0

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

In [49]:
toyotas = autos.query("make == 'toyota'")
number_of_toyotas = len(toyotas)
max_price_toyotas = toyotas['price'].max()
print(f"Answer count= {number_of_toyotas} Price = {max_price_toyotas}")

Answer count= 32 Price = 17669.0

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

In [73]:
sorted_by_value = autos.sort_values(by='price', ascending=False)
most_expensive_car = sorted_by_value.iloc[0]
print(f"Length={most_expensive_car['length']}\twidth={most_expensive_car['width']}\theight={most_expensive_car['height']} ")

Length=199.2	width=72.0	height=55.4

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

In [85]:
# Assuming 'autos' is your DataFrame containing the data

# Calculate price per horsepower and find the row with the lowest price per horsepower
lowest_price_per_hp_row = autos.loc[(autos['price'] / autos['horsepower']).idxmin()]

# Extract brand and price per horsepower value
brand = lowest_price_per_hp_row['make']
lowest_price_per_horsepower = lowest_price_per_hp_row['price'] / lowest_price_per_hp_row['horsepower']

print(f"The brand with the lowest price per horsepower is {brand} price per horsepower={lowest_price_per_horsepower:.2f}.")

The brand with the lowest price per horsepower is toyota with a price per horsepower of 72.84.

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

In [118]:
cylinder_equal_doors = autos.query("`num-of-cylinders` == @autos['num-of-doors']")
print(f"car={len(cylinder_equal_doors)}")

print(cylinder_equal_doors['num-of-cylinders'].unique())
print(cylinder_equal_doors['num-of-doors'].unique())

car=95
['four' 'two']
['four' 'two']

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
55,std,hatchback,NaN,17,9.4,2380,rwd,front,70,rotor,...,mazda,150.0,two,two,6000.0,10945.0,NaN,3,95.3,65.7
56,std,hatchback,NaN,17,9.4,2380,rwd,front,70,rotor,...,mazda,150.0,two,two,6000.0,11845.0,NaN,3,95.3,65.7
57,std,hatchback,NaN,17,9.4,2385,rwd,front,70,rotor,...,mazda,150.0,two,two,6000.0,13645.0,NaN,3,95.3,65.7
58,std,hatchback,NaN,16,9.4,2500,rwd,front,80,rotor,...,mazda,150.0,two,two,6000.0,15645.0,NaN,3,95.3,65.7