# Exercises: Filter and query data

In [2]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

Answer
   count=3    price=36000.0

In [3]:
autos.head(3)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [5]:
jaguars = autos.query("make == 'jaguar'")
number_of_jaguars = len(jaguars)
max_price_jaguar = jaguars['price'].max()
most_expensive_jaguar = autos.query("make == 'jaguar'").sort_values('price', ascending=False).head(1)['price']
print(f"Answer count= {number_of_jaguars} Price = {max_price_jaguar}")

Answer count= 3 Price = 36000.0

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

In [6]:
toyotas = autos.query("make == 'toyota'")
number_of_toyotas = len(toyotas)
max_price_toyotas = toyotas['price'].max()
print(f"Answer count= {number_of_toyotas} Price = {max_price_toyotas}")

Answer count= 32 Price = 17669.0

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

In [7]:
sorted_by_value = autos.sort_values(by='price', ascending=False)
most_expensive_car = sorted_by_value.iloc[0]
print(f"Length={most_expensive_car['length']}\twidth={most_expensive_car['width']}\theight={most_expensive_car['height']} ")

Length=199.2	width=72.0	height=55.4

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

In [19]:
# Assuming 'autos' is your DataFrame containing the data

# Calculate price per horsepower and find the row with the lowest price per horsepower
lowest_price_per_hp_row = autos.loc[(autos['price'] / autos['horsepower']).idxmin()]

# Extract brand and price per horsepower value
brand = lowest_price_per_hp_row['make']
price_per_horsepower = lowest_price_per_hp_row['price'] / lowest_price_per_hp_row['horsepower']

print(f"The brand with the lowest price per horsepower is {brand} price per horsepower={price_per_horsepower:.2f}.")
lowest_price_per_hp_row

The brand with the lowest price per horsepower is toyota price per horsepower=72.84.

aspiration               std
body-style           hardtop
bore                    3.62
city-mpg                  24
compression-ratio        9.3
curb-weight             2540
drive-wheels             rwd
engine-location        front
engine-size              146
engine-type              ohc
fuel-system             mpfi
fuel-type                gas
height                  52.0
highway-mpg               30
horsepower             116.0
length                 176.2
make                  toyota
normalized-losses      134.0
num-of-cylinders        four
num-of-doors             two
peak-rpm              4800.0
price                 8449.0
stroke                   3.5
symboling                  2
wheel-base              98.4
width                   65.6
Name: 167, dtype: object

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

In [9]:
cylinder_equal_doors = autos.query("`num-of-cylinders` == @autos['num-of-doors']")
print(f"car={len(cylinder_equal_doors)}")

print(cylinder_equal_doors['num-of-cylinders'].unique())
print(cylinder_equal_doors['num-of-doors'].unique())

car=95
['four' 'two']
['four' 'two']

In [18]:
autos.sort_values(by='price')

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
138,std,hatchback,3.62,31,9.0,2050,fwd,front,97,ohcf,...,subaru,83.0,four,two,4900.0,5118.0,2.36,2,93.7,63.4
18,std,hatchback,2.91,47,9.5,1488,fwd,front,61,l,...,chevrolet,121.0,three,two,5100.0,5151.0,3.03,2,88.4,60.3
50,std,hatchback,3.03,30,9.0,1890,fwd,front,91,ohc,...,mazda,104.0,four,two,5000.0,5195.0,3.15,1,93.1,64.2
150,std,hatchback,3.05,35,9.0,1985,fwd,front,92,ohc,...,toyota,87.0,four,two,4800.0,5348.0,3.03,1,95.7,63.6
76,std,hatchback,2.97,37,9.4,1918,fwd,front,92,ohc,...,mitsubishi,161.0,four,two,5500.0,5389.0,3.23,2,93.7,64.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,std,hardtop,3.80,14,8.0,3715,rwd,front,304,ohcv,...,mercedes-benz,NaN,eight,two,4500.0,45400.0,3.35,1,112.0,72.0
9,turbo,hatchback,3.13,16,7.0,3053,4wd,front,131,ohc,...,audi,NaN,five,two,5500.0,NaN,3.40,0,99.5,67.9
44,std,sedan,3.03,38,9.6,1874,fwd,front,90,ohc,...,isuzu,NaN,four,two,5400.0,NaN,3.11,1,94.5,63.6
45,std,sedan,3.03,38,9.6,1909,fwd,front,90,ohc,...,isuzu,NaN,four,four,5400.0,NaN,3.11,0,94.5,63.6
129,std,hatchback,3.94,17,10.0,3366,rwd,front,203,dohcv,...,porsche,NaN,eight,two,5750.0,NaN,3.11,1,98.4,72.3

In [21]:
autos.iloc[autos['length'].idxmin()]

aspiration                 std
body-style           hatchback
bore                      2.91
city-mpg                    47
compression-ratio          9.5
curb-weight               1488
drive-wheels               fwd
engine-location          front
engine-size                 61
engine-type                  l
fuel-system               2bbl
fuel-type                  gas
height                    53.2
highway-mpg                 53
horsepower                48.0
length                   141.1
make                 chevrolet
normalized-losses        121.0
num-of-cylinders         three
num-of-doors               two
peak-rpm                5100.0
price                   5151.0
stroke                    3.03
symboling                    2
wheel-base                88.4
width                     60.3
Name: 18, dtype: object

**Use the "autos" dataset and write python code to solve the following tasks:**

**T1:** Print a string to inform the user of the price difference between the cheapest and the most expensive car in the dataset.

Solution
   **Example:**
   The price difference between the cheapest and the most expensive car is 40282.0

In [29]:
price_difference = (autos['price'][autos['price'].idxmax()]) - (autos['price'][autos['price'].idxmin()])
print(f"The price difference between the cheapest and the most expensive car is {price_difference}.")

The price difference between the cheapest and the most expensive car is: 40282.0

**T2:** Ask the user to input a brand, then print the price range for that brand.

In [48]:
user_brand = input("Input a car brand: ")
df_user_brand = autos.query('make == @user_brand')
if len(df_user_brand) > 0:
    print(f"Input the name of a brand: {user_brand}\nThe prices for cars of brand '{user_brand}' ranges from {df_user_brand['price'].min()} to {df_user_brand['price'].max()}"
    )
else:
    print(f"Input the name of a brand: {user_brand}\nThe brand '{user_brand}' does not exists in the dataset.")

Input the name of a brand: tesla
The brand 'tesla' does not exists in the dataset.

**T3:** Ask the user to input a brand, then print the number of cars in the dataset for that brand, and all attributes for a random sample car of that brand.

In [62]:
import random
user_brand = input("Input a car brand: ")
df_user_brand = autos.query('make == @user_brand')
if len(df_user_brand) > 0:
    print(f"Input the name of a brand: {user_brand}\nThere are {len(df_user_brand)} of brand '{user_brand}' in the dataset.\n")
    print(f" Here is the data for a random {user_brand} car:\n {df_user_brand.iloc[random.randint(0,len(df_user_brand))]}")
else:
    print(f"Input the name of a brand: {user_brand}\nThe brand '{user_brand}' does not exists in the dataset.")

autos['make'].value_counts()

Input the name of a brand: volvo
There are 11 of brand 'volvo' in the dataset.

 Here is the data for a random volvo car:
 aspiration               std
body-style             wagon
bore                    3.78
city-mpg                  23
compression-ratio        9.5
curb-weight             3034
drive-wheels             rwd
engine-location        front
engine-size              141
engine-type              ohc
fuel-system             mpfi
fuel-type                gas
height                  57.5
highway-mpg               28
horsepower             114.0
length                 188.8
make                   volvo
normalized-losses       74.0
num-of-cylinders        four
num-of-doors            four
peak-rpm              5400.0
price                13415.0
stroke                  3.15
symboling                 -1
wheel-base             104.3
width                   67.2
Name: 195, dtype: object

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

**T4:** Ask the user to input a brand, then export all cars of that brand to a .csv file with the same name as the brand.

**Solution**

   Example 1:

   Input the name of a brand: volkswagen
   Exported 12 cars to 'volkswagen.csv'

   Example 2:
   
   Input the name of a brand: tesla
   The brand 'tesla' does not exists in the dataset.

In [66]:
import os
user_brand = input("Input a car brand: ")

df_user_brand = autos.query('make == @user_brand')

file_path=file_path = f"../Data/{user_brand}.csv"  # Customize the directory path as per your requirement
df_user_brand.to_csv(file_path, index=False)

if len(df_user_brand) > 0:
    print(f"Input the name of a brand: {user_brand}\nExported {len(df_user_brand)} cars to {user_brand}.csv.\n")
else:
    print(f"Input the name of a brand: {user_brand}\nThe brand '{user_brand}' does not exists in the dataset.")

# Deleting the file
try:
    os.remove(file_path)
    print(f"File '{file_path}' has been successfully deleted.")
except FileNotFoundError:
    print(f"File '{file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Input the name of a brand: honda
Exported 13 cars to honda.csv.

File '../Data/honda.csv' has been successfully deleted.