# Exercises: Modify the dataset

In [122]:
import pandas as pd

In [123]:
employees = pd.read_json("../Data/employees.json")

**Current state of the "employees" dataset**

Rerun the code block below after each modification you do, to see its current state

In [138]:
employees

,Name,Email,Job title,Salary,Department
0,John Doe,john.doe@mockcompany.com,Sales Director,132000.0,Sales
1,Jane Smith,jane.smith@mockcompany.com,HR Coordinator,60000.0,Human Resources
2,Michael Johnson,michael.johnson@mockcompany.com,Software Engineer,110000.0,IT
3,Sarah Williams,sarah.williams@mockcompany.com,Marketing Specialist,82500.0,Sales
4,David Brown,david.brown@mockcompany.com,HR Manager,90000.0,Human Resources
5,Emily Davis,emily.davis@mockcompany.com,IT Support Specialist,55000.0,IT
6,Jacob Wilson,jacob.wilson@mockcompany.com,Sales Representative,88000.0,Sales
7,Olivia Moore,olivia.moore@mockcompany.com,Marketing Manager,110000.0,Sales
8,Ethan Lee,ethan.lee@mockcompany.com,Financial Analyst,93500.0,Sales
9,Sophia Taylor,sophia.taylor@mockcompany.com,HR Assistant,50000.0,Human Resources
10,Jennifer Lee,jennifer.lee@mockcompany.com,Software Engineer,100000.0,IT
11,Anders Svensson,anders.svensson@mockcompany.com,Software Engineer,55000.0,IT

**Do the following operations on the "employees" dataset:**

**OP1:** Create a new column "name" which contains the full name (eg. "John Doe") for each employee.

Result
- name
- John Doe
- Jane Smith
- Michael Johnson

In [125]:
employees['name'] = employees['first_name'] + " " + employees['last_name']

**OP2:** Create a new column "email" with the following format: firstname.lastname@mockcompany.com
Note: email addresses should be all lower case.

Result

   email

   - john.doe@mockcompany.com
   - jane.smith@mockcompany.com
   - michael.johnson@mockcompany.com

In [126]:
employees['email'] = (employees['first_name'] + "." + employees['last_name'] + "@mockcompany.com").str.lower()

**OP3:** Remove the columns "first_name" and "last_name", and put the columns "name" and "email" first.

Result

name |  email |  job_title |  salary |  department |

In [127]:
employees.drop(columns=['first_name', 'last_name'], inplace=True)

In [128]:
employees = employees[["name","email","job_title","salary","department"]]

**OP4:** Update column titles to make the first letter in each title upper case. Also replace the underscore character in "job_title" with a space.

Result

   **Name**   **Email**   **Job title**   **Salary**   **Department**

In [129]:
employees.columns = employees.columns.str.replace('_', ' ').str.capitalize()

**OP5:** Change the data type of column "Salary" to float64.

In [130]:
employees['Salary'] = employees['Salary'].astype("float64")

In [131]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Email       10 non-null     object
 2   Job title   10 non-null     object
 3   Salary      10 non-null     float64
 4   Department  10 non-null     object
dtypes: float64(1), object(4)
memory usage: 532.0+ bytes

**OP6:** The company decided to give everyone in sales a 10% salary increase. Update the dataset accordingly.

In [132]:
sales_department = employees.query('Department == "Sales"')
new_salary_sales_department = sales_department['Salary'] * 1.10
employees.loc[employees['Department'] == 'Sales', 'Salary'] = new_salary_sales_department

**OP7:** The company hired a new software engineer. Add a new row with appropriate values to the dataset.

In [133]:
employees.loc["10"] = ["Jennifer Lee","jennifer.lee@mockcompany.com","Software Engineer",100000,"IT"]

In [137]:
employee_name = input("Name of new employee: ").title()
employee_salary = float(input("Salary of new employee: "))
new_employee = [employee_name, employee_name.lower().replace( " ", ".") + "@mockcompany.com", "Software Engineer", employee_salary, "IT"]
employees.loc[len(employees)] = new_employee